.mu-letter-content {
    background-color: #1f1f1f;
    filter: contrast(30);
}

.mu-ani-letter-up {
    animation: AniLetterShow var(--duration) forwards;
}

@keyframes AniLetterShow {
    from {
        letter-spacing: var(--start-latter-spacing);
        filter: var(--start-blur);
    }

    to {
        letter-spacing: var(--end-latter-spacing);
        filter: var(--end-blur);
    }
}