.form-input {
    width: 100%;
    position: relative;
    &.focus {
        .form-inner {
            border-color: #2aba8a;
        }
    }
}
.form-label {
    color: #374151;
    padding: 4px 0;
    line-height: 20px;
}
.form-inner {
    height: 42px;
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    transition: all 0.25s;
    input {
        flex: 1;
        height: 100%;
        border-radius: 6px;
        padding: 0 10px;
    }
    &.shake {
        animation: shakeError 0.6s ease-in-out;
    }
    &.error {
        border-color: #f41f1f;
    }
    textarea {
        flex: 1;
        height: 100%;
        border-radius: 6px;
        padding: 10px 14px;
        resize: none;
    }
}
.auto-height {
    height: auto;
}
@keyframes shakeError {
    0% {
        transform: translateZ(0);
    }

    15% {
        transform: translate3d(0.25em, 0, 0);
    }

    30% {
        transform: translate3d(-0.25em, 0, 0);
    }

    45% {
        transform: translate3d(0.25em, 0, 0);
    }

    60% {
        transform: translate3d(-0.25em, 0, 0);
    }

    75% {
        transform: translate3d(0.25em, 0, 0);
    }

    90% {
        transform: translate3d(-0.25em, 0, 0);
    }

    to {
        transform: translateZ(0);
    }
}
.form-error {
    color: #f41f1f;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}

.file-input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    cursor: pointer;
    &.draging {
        border-style: dashed;
        border-color: #2aba8a;
    }
    &.readonly {
        pointer-events: none;
        cursor: auto;
    }
}
